<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Manage Teacher</title>
	<link rel="stylesheet" href="style.css">
	<script src="https://cdn.jsdelivr.net/npm/axios@1.1.2/dist/axios.min.js"></script>
    <script src="https://unpkg.com/axios@1.1.2/dist/axios.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
	
</head>

<body>
	<input type="hidden" name="" id="user-name" value="{{student.name}}">
	<input type="hidden" name="" id="title-ass" value="{{title}}">

	<div class="container">
		<div class="c-item nav">
			<div class="logo-uni">
				<img src="/images/logo_QM.png" alt="">
			</div>
			<a href="/student">
				<li>Home</li>
			</a>

			<a href="/student/classesStudent">
				<li style="background-color: #ddd;">Classes</li>
			</a>
		</div>
		<div class="c-item search">
			<form action="/admin/search" method="post" name="myForm" onsubmit="return validateForm()">
				<input type="text" name="txtSearch" placeholder="Search username">
			</form>
		</div>
		<div class="c-item profile">
			<div class="user">
				<img src="/images/logo-admin.png" height="50" alt="">
				{{user.name}}
				<div class="dropdown">
					<a href="/student/profileStudent"> Profile </a>
					<a href="/logout"> Logout </a>
				</div>
			</div>
		</div>
		<div class="c-item controller">
			<div>
				<a href="/student/submitAssignment?title={{assignment.title}}">Submit Assignment</a>
			</div>
		</div>
		<div class="c-item body">Assignment:
			{{#each assignment.files}}
			<a style="color: blue;" href="/downloadzipp?filename={{filename}}">{{filename}}</a> <br>
			{{/each}}
			<br><br>

			Assignment submitted: <span id="ass-submitted"></span><br>
			<br>
			<div>Score: <span id="score-user"></span></div>
			<br>
			<div>Teacher's comment: <span id="comment-user"></span></div>
			{{#each assignment.submitAss}}
			<a style="color: blue;" href="/downloadzipp?filename={{filename}}">{{filename}}</a> <br>
			{{/each}}

			<br><br>

			{{!-- Comment --}}
			{{!-- <div class="form-comment">
				<form onsubmit="return postComment(this)" style="margin-bottom:10px ;">
					<input type="hidden" id="userName" value="{{student.name}}">
					<input type="hidden" id="title" value="{{assignment.title}}">
					<div class="mb-3 mt-3">
						<label for="comment">Comments:</label>
						<textarea class="form-control" rows="4" id="comment" name="txtComment" style="width: 98%;"
							placeholder="Write a comment..."></textarea>
					</div>
					<button type="submit" class="btn btn-primary">Submit</button>
				</form>
				<ul id="comments">
					{{#each assignment.comment}}
					<li class="listComment">
						<span>{{user}}</span> <span style="color: gray;">{{date}}</span>
						<p style="margin-bottom: 0;">{{comments}}</p>
					</li>
					{{/each}}
				</ul>
			</div> --}}
		</div>
	</div>
	{{!-- <footer>
		QM - English
	</footer> --}}

	<script>
		//user comment
		function postComment(comment) {
			var ajax = new XMLHttpRequest;
			ajax.open("POST", "user-comment")
			ajax.setRequestHeader("Content-type", "application/x-www-form-urlencoded");

			const userName = document.querySelector('#userName').value;
			const title = document.querySelector('#title').value;
			const commentUser = document.querySelector('#comment');

			//date time current
			const d = new Date();
			var minutes = d.getMinutes();
			var formatDate = ""

			if (minutes > 9) {
				formatDate = [d.getHours(), d.getMinutes()].join(':') + ' ' + [d.getDate(), d.getMonth() + 1, d.getFullYear()].join('/')
			} else {
				var minutes = '0' + minutes;
				formatDate = [d.getHours(), minutes].join(':') + ' ' + [d.getDate(), d.getMonth() + 1, d.getFullYear()].join('/')
			}
			const date = formatDate;


			const comments = document.querySelector('#comments');
			var html = ""
			html += '<li class="listcomment">';
			html += '<span>' + userName + '</span>  <span style="color: gray;">' + date + '</span>';
			html += '<p style="margin-bottom: 0;">' + commentUser.value + '</p>';
			html += '</li>';


			document.getElementById("comments").innerHTML = html + document.getElementById("comments").innerHTML;


			ajax.send("title=" + title + "&comment=" + commentUser.value);

			commentUser.value = "";
			return false;
		}
	</script>
	<script >
		async function get_mark_user() {
			const res= await axios({
				url: "http://localhost:2000/teacher/get_mark",
				method: "post", 
				data: {
					title: $("#title-ass").val(),
					user_name: $("#user-name").val()
				}
			})
			const result= await res.data
			document.getElementById("ass-submitted").innerHTML= result.allClass.submitAss.filter(item=> item.student.trim() === $("#user-name").val().trim()).map(item=>  `<a href="${item.file[0].path}">${item.file[0].filename}</a>`)
			document.getElementById("score-user").innerHTML= result.allClass.submitAss.filter(item=> item.student.trim() === $("#user-name").val().trim()).map(item=>  `${item.score}`)
			document.getElementById("comment-user").innerHTML= result.allClass.submitAss.filter(item=> item.student.trim()=== $("#user-name").val().trim()).map(item=> `${item?.comment}`)
		}
		get_mark_user()
	</script>
</body>

</html>